{{> head }}

{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Wallpaper</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad fugiat exercitationem nemo expedita quod dolorum molestias nobis, sit vitae natus. Eveniet excepturi veniam dicta autem inventore, natus libero dolorum atque!</p>
    </div>

    <div class="col-4">
        <img src="assets/img/wallpaper.jpg" class="img-thumbnail" />
    </div>
</div>

{{> footer }}